<!DOCTYPE html>
<html>
<head>
    <title>Lista de Dados da Turma</title>
</head>
<body>
    <h1>Lista de Dados da Turma</h1>
    <table border="1">
        <tr>
            <th>Código da Turma</th>
            <th>Código Subtipo Atividade</th>
            <th>Horário</th>
            <th>Dia da Semana</th>
            <th>Idade</th>
            <th>Código do Instrutor</th>
            <th>Número de Vagas</th>
        </tr>
        {% for dado in dados %}
        <tr>
            <td>{{ dado.codigoturma }}</td>
            <td>{{ dado.codigosubtipoatividade }}</td>
            <td>{{ dado.horario }}</td>
            <td>{{ dado.diasemana }}</td>
            <td>{{ dado.idade }}</td>
            <td>{{ dado.codigoinstrutor }}</td>
            <td>{{ dado.numerovagas }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
